@media (min-width: 1980px) {
    .header-slider .flickity-prev-next-button.previous {
   left: -15%;
}
    .header-slider .flickity-prev-next-button.next {
    right: -15%;
}
}
@media (max-width: 1280px) {
    .about-waxom .about-waxom-content {
      padding: 65px;
      justify-content: center;
    }  
    .about-waxom .waxom-items,
    .about-waxom .recent-items,
    .about-waxom .twitter-items,
    .about-waxom .widget-items {
        padding: 50px;
    } 
    footer .wrap {
        justify-content: space-around;
    }
}
@media (max-width: 1230px) {
    .main-menu, .main-menu ul, .header-icon {
        padding: 0;
        margin: 0;
    }
    .header-slider .flickity-prev-next-button.previous {
        left: 0;
}
    .header-slider .flickity-prev-next-button.next {
        right: 0;
    }
    .recent-posts-slider {
        margin: 0 30px;
    }
    .about-waxom-content {
      padding: 65px;
}
}
@media (max-width: 1080px) {
     .exellent img {
        display: none;
    }
}
@media (max-width: 1030px) {
    .projects-galery {
          justify-content: space-around;
      }
    .exellent-items {
         margin: 0 30px;
         font-size: 0.9em;
     }
     .recent-posts-slider  .flickity-prev-next-button.previous {
        left: 42%;
}
    .recent-posts-slider .flickity-prev-next-button.next {
        right: 42%;
    }
    .partners img {
        margin: 20px;
    }
}
@media (max-width: 960px) {
     .header-up {
         flex-wrap: wrap;
     }
      .header-icon {
        padding-top: 20px;
        margin: 0 auto;
    }
     .exellent .wrapper-content {
         justify-content: center;
        
     }
     .exellent-items {
         padding: 50px 0 50px 0;
     }
     .exellent img {
         display: none;
     }
     .statistic-item {
         margin: 0;
         padding: 30px;
     }
     .statistic-item + .statistic-item {
         margin: 0;
         padding: 30px;
     }
     .header-slider .flickity-button-icon {
        display: none;
}
     
}
@media (max-width: 775px) {
 .projects-galery {
        padding: 40px 30px;
        flex-direction: column;
        align-items: center;
    }
    .multipurpose .wrapper-content {
        flex-direction: column;
        align-content: center;
    }
    .multipurpose-btn a {
        margin: 0 0 25px 0;
    }
     .exellent-items {
         margin: 0 30px;
         font-size: 0.9em;
     }
     .about-waxom .waxom-items,
    .about-waxom .recent-items,
    .about-waxom .twitter-items,
    .about-waxom .widget-items {
        padding: 20px;
    }
}
@media (max-width: 685px) {
     .main-menu ul {
        flex-direction: column;
        align-items: center;
        padding: 40px;
         max-width: 300px; 
    }
    .main-menu ul a {
        font-size: 30px;
        line-height: 55px;
    }
    .header-up {
        padding: 0;
        justify-content: center;
        flex-direction: column;
    }
    .header-slider-content {
        margin: 50px 20px 20px 20px;
        font-size: 0.5em;
        line-height: 49px;
    }
    .header-slider-content a {
        line-height: 28px;
    }
    .header-slider-content p {
        width: auto;
    }
    .logo-wrap {
        padding-top: 20px;
    }
    .projects-menu ul {
        padding: 0;
    }
    .projects-menu ul li {
        margin-top: 25px;
    }
}

@media (max-width: 625px) {
    .services-item +.services-item {
        margin: 0 auto;
    }
      .slider-title {
        line-height: 35px;
        font-size: 2em;
}
    .slider-item-over {
        font-size: 1.5em;
        line-height: 60px;
    }

}
@media (max-width: 435px) {
    .about-waxom .widget-items .widget-item-galery {
        justify-content: center;
    }
    .about-waxom .widget-items .widget-item-galery img {
        width: 100%;
    }
     footer .menu {  
        padding: 20px 30px;
        justify-content: center;
    }
    footer ul {
        flex-direction: column;
        align-content: center;
    }
}
@media (max-width: 375px) {
    .main-menu ul {
        flex-direction: column;
        align-items: center;
        padding: 40px;
         max-width: 230px; 
    }
    .main-menu ul a {
        font-size: 30px;
        line-height: 55px;
    }
    .header-up {
        padding: 0;
        justify-content: center;
    }
   
}
